<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ollas Essen</title>
    <!-- link de bootstrap -->
    <link
      href="{{ url_for('static', filename='css/bootstrap.min.css') }}"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- aqui va el nav menu hanburguesa de bootstrap -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top py-4">
      <div class="container">
        <a class="navbar-brand" href="/">
          <img
            src="{{ url_for('static', filename='imagenes/iconnn.ico') }}"
            alt="Ollas Essen"
            style="height: 3.6rem"
          />
          <h2>Ollas Essen</h2>
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="/productos.html">Productos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/categorias.html">Categorias</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="mailto:for.all.today123@gmail.com"
                >Contactanos</a
              >
            </li>
          </ul>
          <a class="btn btn-primary" href="registro.html">Registrate</a>
        </div>
      </div>
    </nav>
    <!-- boton de regreso a la pagina de inicio -->
    <div class="container mt-5 pt-5 col-sm">
      <div class="row mt-5 pt-5">
        <a href="/" class="btn btn-dark btn-sm w-auto px-5 py-2 mt-3">Volver</a>
      </div>
    </div>
    <!-- aqui van los productos segun prediccion -->
    <div class="container mt-5">
      <h1>Categorias disponibles</h1>
      <div class="row">
        {% for categoria, producto in productos_por_categoria.items() %}
        <div class="item features-image col-12 col-md-6 col-lg-4">
          <div class="item-wrapper">
            <div class="item-img">
              <img src="{{ producto.IMAGEN }}" alt="{{ producto.NOMBRE }}" />
            </div>
            <div class="item-content">
              <h5 class="item-title mbr-fonts-style display-5">
                <strong>{{ categoria }}</strong>
              </h5>
              <h5 class="mbr-fonts-style display-7">
                {{ producto.NOMBRE }}
              </h5>
              <h6 class="item-subtitle mbr-fonts-style display-7">
                Bs {{ producto.PRECIO_UNITARIO }}
              </h6>
              <h6 class="item-subtitle mbr-fonts-style display-7">
                Color: {{ producto.COLOR }}
              </h6>
              <h6 class="item-subtitle mbr-fonts-style display-7">
                Capacidad: {{ producto.CAPACIDAD }}
              </h6>
              <p class="mbr-text mbr-fonts-style display-7">
                Stock: {{ producto.STOCK }}
              </p>
              <div class="mbr-section-btn item-footer">
                <a href="#" class="btn item-btn btn-success display-7"
                  >Comprar</a
                >
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    <!-- aqui va el footer pie de pagina -->
    <footer class="container-fluid bg-dark text-white py-5 mt-3">
      <div class="row">
        <div class="col-12 col-lg-6 text-center">
          <ul class="list-inline">
            <li class="list-inline-item">
              <a href="#" class="text-white">Instagram</a>
            </li>
            <li class="list-inline-item">
              <a href="#" class="text-white">TikTok</a>
            </li>
            <li class="list-inline-item">
              <a href="#" class="text-white">YouTube</a>
            </li>
            <li class="list-inline-item">
              <a href="#" class="text-white">Twitter</a>
            </li>
          </ul>
        </div>
        <div class="col-12 col-lg-6 text-center mt-2 mb-3">
          <p class="mb-0">© Copyright 2024 Ollas Essen - All Rights Reserved</p>
        </div>
      </div>
    </footer>
    <!-- script de bootstrap -->
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
  </body>
</html>
